/* ---- reset ---- */
body {
	margin: 0;
	font: normal 75% Arial, Helvetica, sans-serif;
}
canvas {
	display: block;
}
/* ---- particles.js container ---- */
#particles-js {
	position: absolute;
	width: 100%;
	height: 80%;
	background-color: #5f5f5f;
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}
/*-- Main Text Bar -- */
.center {
	position: absolute;
	top: 70%;
	left: 5%;
	margin: auto;
	height:40%;
	width: 90%;
	font-size: large;
	text-align: center;
	background-color: white;
	transform: perspective(75em);
	box-shadow: rgba(22, 31, 39, 0.42) 2px 60px 123px -25px,rgba(19, 26, 32, 0.08) 0px 35px 75px -35px;
	border-radius: 10px;
	border: 1px solid;
	border-color: rgb(213, 220, 226) rgb(213, 220, 226) rgb(184, 194, 204);
}
#FrontPageHeader {
	color: #fff;
	font-size: xx-large;
	position: absolute;
	left: 20%;
	top: 20%;
}
p{
	font-size: large;
}
/*-- Navigation Bar --*/
ul {
	list-style-type: none;
	overflow: hidden;
	background-color: #333;
	z-index: 100;
	position: fixed;
	width: 10%;
	align-self: center;
	
	}
li {
	padding: 10px;
	display: inline-flex;
	height: 100%;
	width: 12%;
	font-size: 20px;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	text-decoration: none;
	
}
/* Change the link color to #111 (black) on hover */
li a:hover {
	background-color: #111;
}
/* ---- stats.js ---- */
.count-particles {
	background: #000022;
	position: absolute;
	top: 48px;
	left: 0;
	width: 80px;
	color: #13e8e9;
	font-size: 0.8em;
	text-align: left;
	text-indent: 4px;
	line-height: 14px;
	padding-bottom: 2px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
}
.js-count-particles {
	font-size: 1.1em;
}
#stats {
	border-radius: 3px 3px 0 0;
	overflow: hidden;
}
.count-particles {
	border-radius: 0 0 3px 3px;
}
